*,
*:after,
*::before { /* http://css-tricks.com/international-box-sizing-awareness-day/ */
	/* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box;

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

body {
	font-size: 100%;
	color: #EAD075;
	text-align: center;
	background-color: #47374E;
	font-family: 'Helvetica Neue', 'Droid Sans', 'Segoe UI', Arial, sans-serif;
    overflow: hidden; /* body not scrollable */
}
header {
    text-align: center;
}
a {
	color: #BEF2A7;
	text-decoration: none;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  	text-decoration: underline;
}
.lyric7 a {
	text-transform: uppercase;
	padding-top: 1em;
	text-decoration: underline;
	margin-bottom: 0.1rem;
}
.lyric7 a:hover,a:focus {
	text-shadow: 0 0 5px #ff0000;
	text-decoration: bold;
}
.container {
  width: 95%;
  max-width: 75em;
  margin: 0 auto;
  position: relative;
  overflow-y: scroll; // allow scrolling here, http://stackoverflow.com/questions/9280258/prevent-body-scrolling-but-allow-overlay-scrolling
}

.playBtn {
    z-index: 999;
	border: none;
    display: none;
	padding: 0.6em 1.2em;
	background: #ed4e6e;
	color: #fff;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	margin: 3px 2px;
	border-radius: 2px;
    /* http://css-tricks.com/centering-css-complete-guide/*/
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.playBtn:hover {
	background: #2c3e52;
}
#playBtnDiv {
	display: none;
	/* centre of screen */
    position: relative;
    margin: 0 auto;
}
#shopDiv {
	opacity: 0;
}
#shoppingBtn {
	border: none;
	/*padding: 0.6em 1.2em;*/
	background: #2c3e52;
	color: #E8DFDF;

	/*font-size: 1em;*/
	/*letter-spacing: 1px;*/
	/*text-transform: uppercase;*/
	cursor: pointer;
	display: inline-block;
	margin: 0.5em;
	/*border-radius: 2px;*/
}
#shoppingBtn:hover {
	background: #28384A;
	color: #fff;
}
#sample-lyrics {
	padding: 0;
	margin: 0;
}
.column-half {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.column-half ul {
	list-style: none;
	/*padding: 0.2em;*/
	margin: 0;
	padding: 0;
}
.column-half h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.1rem;
}

h2.language {
	display: none;
	color: #EAD075;
	font-weight: bold;
}

div.tamil {
	color: #fff;
}
div.native {
	color: #fff;
	display:none;
}
div.english {
	color: #fff;
	display: none;
}

/* Small-Tablets */
/*@media (min-width: 35.5em) {

}*/
/* Tablets and above */
@media (min-width: 48em) {
	header {
			line-height: 3em;
	}
  .column-half {
      width: 33%;
      float: left;
	  margin-top: 0.1em;
      margin-bottom: 1.5em;
  }
	div.english, div.native {
		display: inline-block;
	}
	h2.language {
		display: inline-block;
	}
  .column-half ul.tamil {
      margin-left: 0px;
  }
}


/* Effect 12: Letter fill */
.la-anim-12 {
	position: relative;
  display:inline-block; /* width set to h1 width */
  padding-right: 1rem;
	color: rgba(255,255,255,0.6);
}

.la-anim-12::before {
	position: absolute;
	overflow: hidden;
	width: 0;
	color: #fff;
	content: attr(data-content);
	text-align: left;
	white-space: nowrap;
}

.la-anim-12.la-animate::before {
  width: 100%;
          transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; /* http://stackoverflow.com/questions/7908493/considerations-for-css3-transition-performance */
  -webkit-transition: width 31s linear;
          transition: width 31s linear;
}

/*social share*/
.share-container {
	position: relative;
	padding: 0 0 2;
}
@media screen and (max-width: 320px) {
	.share-container {
        display: none; /* no need of share buttons on mobile web */
		padding: 0 0 12px
	}
}


footer {
		/*background-color: #333;*/
		clear: both;
		line-height: 1.15rem;
		width: 100%;
		padding-top: 1rem;
		margin-top: 1rem;
		text-align: center;
		/*border-top: 1px solid #eee;*/
		bottom: 0;
		padding:0.1em;
		position: relative;
	}
.share-container {
	opacity:0;  /* make things invisible upon start */
}

.share-container .label {
	color: #bbb;
	display: block;
	float: left;
	font-size: 14px;
	padding: 10px 0 0;
	width: 115px
}
@media screen and (max-width: 400px) {
	.share-container .label {
		display: none
	}
}
.share-container .rrssb-buttons {
	float: left;
	width: calc(100% - 116px)
}
@media screen and (max-width: 400px) {
	.share-container .rrssb-buttons {
		width: 100%;
		float: none;
		clear: both
	}
}
